$dark: #172027;
$black: #252b33;
$white: #fff;
$dark-line-color: #2f373d;
$yellow: #ffdc56;

$mobile-width: 990px;
$container-padding: 20px;
$footer-breakpoint: 1420px;
$footer-second-breakpoint: 1240px;
$footer-mobile: 1024px;