@import "variables";
@import "mixins";
@import "selectric";
@import "nano";
@import "fonts";

body {
  background: $white;
  font-family: Geometria, sans-serif;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.container {
  max-width: 1800px;

  &.container-padding {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
}

.burger {
  margin-left: auto;
  align-items: center;
  padding-left: 30px;

  @include respond(0, $mobile-width) {
    display: flex;
  }
  @include respond($mobile-width) {
    display: none;
  }
}

.burger-button {
  background: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 24px;
  cursor: pointer;
  padding: 0;

  .burger-line {
    background: $white;
    display: block;

    &:nth-child(1),
    &:nth-child(2) {
      width: 40px;
      height: 2px;
      margin-bottom: 9px;
    }
    &:nth-child(3) {
      width: 20px;
      height: 2px;
      margin-left: auto;
    }
  }
}

html,
body {
  height: 100%;
}

.filter-mobile_title {
  font-size: 25px;
  font-weight: bold;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    display: block;
  }
  @include respond($mobile-width) {
    display: none;
  }
}

.filter-mobile_close {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(12px);
}

body {
  &.body-filter {
    .page-content {
      @include respond($mobile-width) {
        margin-left: 301px;
      }
    }
  }
}

#svg-sprite {
  position: absolute;
  width: 0;
  height: 0;
}

.filter {
  border-top: 1px solid $filter-border;
  .checkbox:not(.simple) {
    min-height: 34px;
    padding-right: 7px;
    margin: 0 -7px;
    transition: background 150ms linear;
    padding-left: 37px;

    span {
      left: 7px;
      transition: background 150ms linear, border-color 150ms linear;
    }

    &:hover {
      background: transparentize($gray, 0.5);
      span {
        background-position: center;
        border-color: $navy;
      }
    }
  }
}

.send-form {
  margin-top: 35px;
}

.form-controls {

  @include respond(800px) {
    padding-bottom: 38px;
  }
  @include respond(0, 800px) {
    padding-bottom: 16px;
  }
  @include respond(0, 960px) {
    padding-top: 20px;
  }
  @include respond(800px) {
    display: flex;
    justify-content: space-between;
  }
}

.checkbox.simple {
  padding-left: 30px;
  font-size: 14px;
  display: inline-block;
  a {
    font-size: 14px;
    color: $black;
    display: inline-block;
  }
  span {
    left: 0;
    transform: translateY(-2px);
  }
}

.filter {
  .checkbox {
    display: flex;
  }
}

.checkbox {
  color: $credit-title;
  align-items: center;
  cursor: pointer;
  position: relative;

  input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;

    &:checked + span {
      border-color: $navy;
      background: $navy
        url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0ODguODc4IDQ4OC44NzgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4OC44NzggNDg4Ljg3ODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxnPgoJCTxwb2x5Z29uIHN0eWxlPSJmaWxsOiNmZmY7IiBwb2ludHM9IjE0My4yOTQsMzQwLjA1OCA1MC44MzcsMjQ3LjYwMiAwLDI5OC40MzkgMTIyLjAwOSw0MjAuNDQ3IDEyMi4xNDksNDIwLjMwNiAKCQkJMTQ0LjQyMyw0NDIuNTggNDg4Ljg3OCw5OC4xMjMgNDM3LjA1NSw0Ni4yOTggCQkiLz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4=")
        no-repeat center / 11px 11px;
    }
  }

  span {
    border: 1px solid $checkbox;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
  }
}

.filter {
  background: $white;

  @include respond($mobile-width) {
    max-width: 300px;
    width: 100%;
    border-right: 1px solid $filter-border;
    transition: opacity 250ms linear;
    opacity: 0;
  }

  &.mobile {
    @include respond(0, $mobile-width) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      z-index: 1000;
      overflow-y: auto;
    }
  }

  @include respond(0, $mobile-width) {
    display: none;
  }

  &.fade-in {
    opacity: 1;
  }

  &-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .filter-inputs {
    margin-bottom: 24px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 13px;
    }
    input {
      max-width: 115px;
      width: 100%;
      padding: 0 8px;
      box-sizing: border-box;
      height: 40px;
      border-radius: 0;
      border: 1px solid $checkbox;
      outline: none;
      font-size: 13px;
    }
  }

  a {
    color: $dark;
    text-decoration: none;
  }

  .filter-options {
    margin-top: 12px;
    display: none;
  }

  .filter-reset_button {
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 84px;
    // box-shadow: 0 0 0 1px $filter-border;

    svg {
      display: block;
      margin-left: 10px;
    }
  }

  .filter-row {
    padding: 25px;
    font-size: 13px;

    svg {
      fill: transparentize($dark, 0.7);
      display: block;
    }

    .pointer {
      transition: transform $pointer-speed linear;
    }

    &.open {
      .filter-options {
        display: block;
      }
      .pointer {
        transform: rotate(-180deg);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $filter-border;
    }
  }

  .filter-row_toggle {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  background: $gray;
  display: flex;
  flex: 1;
}

.logo-link {
  display: inline-flex;
  align-items: center;
  color: $white;
  text-decoration: none;

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-left: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .app-inner {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.price {
  font-size: 37px;
  font-weight: bold;
}

.frontpage,
.car-slider {
  .price {
    margin-top: 32px;
  }
}

.bubble {
  cursor: default;
  position: absolute;
  width: 275px;
  box-sizing: border-box;
  padding: 15px 20px 28px 20px;
  font-size: 12px;
  background: $white;
  top: 32px;
  transform: translateY(-7px);
  box-shadow: 0 0 20px 3px transparentize($black, 0.9);
  opacity: 0;
  z-index: 20;
  visibility: hidden;
  transition: opacity 200ms linear, visibility 200ms linear, transform 200ms linear;

  @include respond(1675px) {
    left: -22px;
  }
  @include respond(0, 1675px) {
    left: -135px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 32px;
    background: transparent;
  }
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;

    @include respond(1675px) {
      left: 38px;
    }
    @include respond(0, 1675px) {
      left: calc(50% + 13px);
    }

    box-sizing: border-box;
    border: 7px solid $dark;
    border-color: transparent transparent $white $white;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 4px -2px transparentize($black, 0.9);
  }

  b {
    color: $green;
    font-family: Verdana, sans-serif;
    font-weight: bold;
  }
  strong {
    display: block;
    margin-bottom: 6px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    line-height: 1.6;
    color: $credit-title;
  }
  span {
    font-family: Verdana, sans-serif;
    color: $option-color;
    line-height: 1.5;
    font-weight: normal;
  }
}

.frontpage {
  .help-icon {
    width: 13px;
    height: 13px;
    transform: translateY(-13px);
  }
}

.home-slider {
  .home-container {

    @include respond(1680px) {
      max-width: 1160px;
    }
    @include respond(1530px, 1680px) {
      max-width: 1270px;
    }
    @include respond(1366px, 1530px) {
      padding-left: 118px;
      padding-right: 118px;
      box-sizing: border-box;
    }
    @include respond(0, 1366px) {
      padding-left: 118px;
      padding-right: 118px;
      box-sizing: border-box;
      max-width: 1100px;
    }

    flex: 1;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .title {
      font-size: 48px;
      color: $white;
      font-weight: bold;
      line-height: 1.208;
      @include respond(1366px) {
        max-width: 400px;
      }
    }
    .description {
      font-size: 18px;
      font-weight: 300;
      color: $white;
      line-height: 1.127;
      margin-top: 20px;
    }
  }
  position: relative;
  .swiper-slide {
    @include respond(1366px) {
      padding-bottom: 190px;
    }

    display: flex;
    flex-direction: column;
    min-height: 320px;
  }
  .swiper-button-prev {
    @include respond(1580px) {
      left: 60px;
    }
    @include respond(0, 1580px) {
      left: 30px;
    }
  }
  .swiper-button-next {
    @include respond(1580px) {
      right: 60px;
    }
    @include respond(0, 1580px) {
      right: 30px;
    }
  }
  .home-cars {
    position: absolute;
    @include respond(1790px) {
      right: 235px;
      bottom: 18px;
    }
    @include respond(1570px, 1790px) {
      right: 170px;
      bottom: 18px;
    }
    @include respond(1366px, 1570px) {
      right: 111px;
      bottom: 42px;
      max-width: 768px;
    }
    @include respond(0, 1366px) {
      display: none;
    }

  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: translateY(-15px);
    z-index: 100;
    svg {
      transition: fill 200ms linear;
    }
    &:hover {
      background: $yellow;
      svg {
        fill: $black;
      }
    }
  }

}

.swiper-pagination {
  @include respond(1366px) {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, -70px, 0);
    z-index: 10
  }
  @include respond(0, 1366px) {
    display: none;
  }
}

.help-icon {
  font-weight: bold;
  font-size: 10px;
  background: transparentize($black, 0.5);
  border-radius: 50%;
  display: inline-flex;
  color: $white;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;

  &.navy {
    background: $navy;
    transform: translateY(-8px) translateX(4px) !important;

    .bubble {
      text-transform: none;
    }
  }

  &:hover {
    background: $navy;

    .bubble {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.catalog {
  display: grid;
  grid-gap: 30px;

  @include respond($mobile-width) {
    margin-top: 55px;
  }
  @include respond(0, $mobile-width) {
    margin-top: 35px;
  }

  @include respond(1366px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(1180px, 1366px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(0, 1180px) {
    grid-template-columns: 1fr;
  }

}

.card {
  background: $white;
  box-shadow: none;
  transition: box-shadow 200ms linear;

  .line {
    width: 2px;
    height: 16px;
    background: $navy;
    display: inline-block;
    transform: translateY(3px);
    margin: 0 4px;
  }

  .options {
    color: $option-color;
    margin-top: 20px;
    line-height: 1.646;
    font-family: Verdana, sans-serif;
    @include respond(1400px) {
      font-size: 17px;
    }
    @include respond(0, 1400px) {
      font-size: 15px;
    }
  }

  &:hover {
    box-shadow: 0 0 20px 3px transparentize($black, 0.9);

    .credit-value {
      color: $green;
    }
  }
  .image {
    display: block;
  }
  .dot {
    background: $green;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: auto 11px;
  }
  .credit-block {
    font-size: 20px;
    font-weight: bold;
    color: $credit-color;
    background: $gray;
    margin-top: 14px;
    padding: 15px 10px;
    margin-left: -7px;
    margin-right: -7px;
    transition: color 200ms linear;
  }
  img {
    display: block;
    width: 100%;
  }
  .tags {
    font-family: Verdana, sans-serif;
    display: flex;
    margin-top: 9px;
    @include respond(1400px) {
      font-size: 17px;
    }
    @include respond(0, 1400px) {
      font-size: 15px;
    }
  }
  .card-content {
    @include respond(1400px) {
      padding: 22px 40px 38px 40px;
    }
    @include respond(0, 1400px) {
      padding: 22px 25px;
    }
    background: $white;
  }
  .name {
    @include respond(1400px) {
      font-size: 28px;
    }
    @include respond(0, 1400px) {
      font-size: 21px;
    }
    color: $dark;
    font-weight: bold;
    line-height: 1.475;

    a {
      color: $dark;
      text-decoration: none;
    }
  }

}

.load-more_block {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.filter-content {
  display: none;
}

.filter-row:not(.open) {
  .filter-row_toggle {
    margin: -25px;
    padding: 25px;
  }
}

.show_all-link {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  border-bottom: 1px dotted transparentize($credit-title, .4);
  padding-bottom: 2px;
  margin-top: 14px;
  display: inline-block;
}

.open {
  .filter-row_toggle {
    margin: -25px -25px -10px;
    padding: 25px 25px 10px;
  }
}

.yellow-button {
  background: $yellow;
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  text-transform: uppercase;
  outline: none;

  &:hover {
    background: transparentize($yellow, .15);
  }

  &:not(.yellow-button_small) {
    max-width: 270px;
  }
  &.yellow-button_small {
    @include respond(800px) {
      max-width: 240px;
    }
  }

}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

select {
  opacity: 0;
  height: 50px;
}

.page-content {
  flex: 1;

  @include respond(1450px) {
    padding: 52px 68px 106px 68px;
  }
  @include respond($mobile-width, 1450px) {
    padding: 45px 38px;
  }
  @include respond(0, $mobile-width) {
    padding: 30px 25px;
  }

  .mobile-filter_toggle {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    display: flex;
    background: transparent;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin: 40px 0;

    @include respond($mobile-width) {
      display: none;
    }

    svg {
      margin-right: 15px;
    }
  }

  .title {
    @include respond($mobile-width) {
      font-size: 42px;
    }
    @include respond(0, $mobile-width) {
      font-size: 31px;
    }
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;
    line-height: 1.024;
    letter-spacing: 2.1px;
  }

  .page-title {

    @include respond(1600px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    @include respond($mobile-width, 1600px) {
      .title {
        margin-bottom: 20px;
      }
    }

    .selectric-wrapper {
      @include respond($mobile-width) {
        max-width: 335px;
      }
      width: 100%;
    }
  }
}

body.menu-opened {
  overflow: hidden;

  .popup-menu {
    display: block;
  }
}


body.filter-opened {
  @include respond(0, $mobile-width) {
    overflow: hidden;
  }
}

.menu-close {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $white;
    display: block;
  }
}

.popup-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: auto;
  background: $dark;
  color: $white;
  padding: 65px 20px 35px 20px;
  display: none;

  .icons-title {
    text-align: center;
    margin-top: 35px;
  }

  .icons-list {
    justify-content: center;
  }

  .phone {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: $white;
    text-decoration: none;
  }
  .contacts {
    text-align: center;
    margin: 25px 0;
  }
  .email {
    font-weight: bold;
    font-size: 20px;
    color: $white;
    text-decoration: none;
  }
  .logo {
    text-align: center;
  }
  .callback {
    text-align: center;
    a {
      font-size: 17px;
      color: $white;
      padding-bottom: 2px;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
  .address {
    margin: 28px 0;
  }
}

.copyright {
  color: transparentize($white, 0.5);
  font-size: 13px;
  line-height: 2;
  border-top: 1px solid $dark-line-color;
  letter-spacing: 1px;
  margin-top: 20px;
  padding-top: 15px;

  @include respond(0, $footer-mobile) {
    margin-bottom: 25px;
  }
  @include respond($footer-mobile) {
    max-width: 240px;
  }
}

.contacts-block {
  display: inline-flex;
  flex-direction: column;
}

.address {
  display: flex;
  align-items: center;
  line-height: 1.449;
  justify-content: center;
  color: $white;

  svg {
    fill: $white;
    margin-right: 8px;
  }
}

.detail-page {
  header {
    box-shadow: 0 0 58px 6px transparentize($black, .8);
  }

  .top-panel {
    border-bottom: 1px solid $filter-border;
    @include respond($mobile-width) {
      display: flex;
      align-items: center;
      padding: 41px 0;
    }
    @include respond(0, $mobile-width) {
      padding: 22px 0;
    }
  }

  .title-block {
    color: $black;
    font-weight: bold;
    line-height: 1.208;
    @include respond($mobile-width) {
      padding: 0 62px;
      font-size: 48px;
    }
    @include respond(0, $mobile-width) {
      font-size: 34px;
      padding: 0 22px;
      margin-top: 20px;
    }

}

  .back-link {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: $black;
    justify-content: center;
    text-decoration: none;
    height: 48px;
    border: 1px solid transparentize($dark, .8);
    max-width: 268px;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
      svg {
        transform: translateX(-5px) rotate(180deg);
      }
    }
    svg {
      transition: transform 100ms linear;
      margin-right: 11px;
      transform: rotate(180deg);
    }
  }

  .back-block {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }

  .inner {
    @include respond($mobile-width) {
      flex: 1;
      display: flex;
    }
  }

  .car-info {
    @include respond($mobile-width) {
      border-left: 1px solid $filter-border;
      padding-top: 48px;
    }
    flex: 1;
    min-width: 0;

    .padding {
      @include respond(1366px) {
        padding-left: 60px;
        padding-right: 60px;
      }
      @include respond(960px, 1366px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @include respond(0, 960px) {
        padding-left: 20px;
        padding-right: 20px;
      }

    }

  }

  .help-icon {
    width: 11px;
    height: 11px;
    transform: translateY(-8px);
  }

  .car-order {
    box-sizing: border-box;

    @include respond($mobile-width) {
      min-width: 320px;
    }

    @include respond($mobile-width) {
      padding: 41px 26px 26px 26px;
    }
    @include respond(960px, $mobile-width) {
      padding: 41px 30px 30px 30px;
    }
    @include respond(0, 960px) {
      .yellow-button {
        max-width: 100%;
      }
      padding: 41px 20px 30px 20px;
    }

    .help-icon {
      box-sizing: border-box;
    }

    .credit-block {
      font-size: 16px;
      font-weight: bold;
      color: $credit-color;
      background: $gray;
      margin-top: 16px;
      padding: 11px 10px;
      margin-left: -7px;
      margin-right: -7px;
      transition: color 200ms linear;
    }

  }

}

.swiper-container {
  width: 100%;
  height: 100%;
}

header,
footer {
  .inner {
    display: flex;
  }
  .contacts-block {
    text-align: left;
    align-items: flex-start;
  }
}

header {
  background: $dark;
  position: relative;
  z-index: 2;

  .contacts-block {
    justify-content: center;
  }

  .logo-link {
    height: 100%;
    width: 100%;
  }

  .container {
    @include respond($mobile-width) {
      margin-left: 52px;
      margin-right: 52px;
    }
    @include respond(0, $mobile-width) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  a {
    text-decoration: none;
  }

  .auto-height {
    height: 100%;
  }

  .desktop-only {
    @include respond(0, $mobile-width) {
      display: none;
    }
  }

  .padding-15 {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .inner {
    min-height: 100px;

    .logo {
      max-width: 303px;
      width: 100%;
      border-left: 1px solid $dark-line-color;
      border-right: 1px solid $dark-line-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .address {
      font-size: 14px;
      flex: 1;
      border-right: 1px solid $dark-line-color;
      @include respond(0, 1280px) {
        display: none;
      }
    }

    .contacts {
      max-width: 268px;
      width: 100%;
      text-align: center;
      margin-left: auto;
      border-right: 1px solid $dark-line-color;
      .phone {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 4px;
      }
      .email {
        font-size: 14px;
        border-bottom: 1px solid $white;
      }
      a {
        color: $white;
      }
    }

    .callback {
      max-width: 268px;
      width: 100%;
      border-right: 1px solid $dark-line-color;
      a {
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.667;
        display: flex;
        align-items: center;
        height: 100%;
        letter-spacing: 1px;
        justify-content: center;
      }
    }

    .logo-link {
      justify-content: center;
    }
  }
}

.icons-list {
  display: flex;
  margin-top: 24px;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $dark-line-color;
    width: 43px;
    height: 43px;

    &:hover {
      background: $yellow;
      border-color: $yellow;
      svg {
        fill: $dark;
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  svg {
    fill: transparentize($white, 0.6);
  }
}

.icons-title {
  font-size: 17px;
  font-weight: bold;
}

footer {
  background: $dark;
  padding: 45px 0 60px 0;
  color: $white;
  flex: 0 0 auto;
  z-index: 2;
  .contacts-block {
    @include respond(0, $footer-mobile) {
      align-items: center;
    }
  }

  .inner {
    @include respond(0, $footer-mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  .address {
    position: relative;
    font-size: 15px;
    line-height: 1.933;
    margin-top: 12px;
    transform: translateX(-2px);
    padding-left: 25px;
    box-sizing: border-box;

    @include respond($footer-mobile) {
      padding-right: 20px;
    }

    svg {
      position: absolute;
      top: 5px;
      left: 0;
    }
  }

  .padding-fix {
    padding-top: 12px;
  }

  .time-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  .contacts {
    max-width: 100%;
    @include respond(0, $footer-mobile) {
      margin-top: 20px;
    }
    @include respond($footer-second-breakpoint) {
      width: 100%;
    }
  }

  .for-medium {
    @include respond($footer-second-breakpoint) {
      display: none;
    }
  }

  .for-large {
    @include respond(0, $footer-second-breakpoint) {
      display: none;
    }
  }


  .combined {
    margin-top: 20px;
    @include respond(0, $footer-mobile) {
      text-align: center;
    }
    @include respond($footer-breakpoint) {
      display: none;
    }
  }

  .time {
    max-width: 388px;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;

    @include respond(0, $footer-breakpoint) {
      display: none;
    }
  }

  .callback {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid;
    margin-top: 9px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .email {
    font-size: 21px;
    color: $white;
    font-weight: bold;
    margin-top: 25px;
    text-decoration: none;
    line-height: 1.158;
    border-bottom: 1px solid;
  }

  .time-list {
    font-size: 15px;
    .time-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    span {
      font-weight: 500;
    }
  }

  .container {
    @include respond($mobile-width) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  .logo {

    .icons-title {
      margin-top: 15px;
    }

    @include respond(0, $footer-mobile) {
      text-align: center;
    }
    @include respond($footer-mobile) {
      width: 100%;
      padding-right: 20px;
      box-sizing: border-box;
    }
    @include respond($footer-breakpoint) {
      max-width: 395px;
    }
    @include respond($footer-second-breakpoint, $footer-breakpoint) {
      max-width: 318px;
    }
    @include respond($footer-mobile, $footer-second-breakpoint) {
      max-width: 345px;
    }
  }

  .phone {
    color: $white;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
  }

  .menu {
    display: flex;
    flex-direction: column;

    @include respond(0, $footer-mobile) {
      align-items: center;
      margin-top: 20px;
    }
    @include respond($footer-mobile) {
      width: 100%;
      align-items: flex-start;
    }
    @include respond($footer-breakpoint) {
      max-width: 330px;
    }
    @include respond($footer-mobile, $footer-breakpoint) {
      max-width: 255px;
    }

    a {
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      color: $white;

      &.active {
        color: transparentize($white, 0.54);
      }

      &:not(:last-child) {
        margin-bottom: 19px;
      }
    }
  }
}

.car-options {
  margin-top: 30px;
  padding-bottom: 38px;
  .row {
    font-family: Verdana, sans-serif;
    display: flex;
    font-size: 13px;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  .field {
    color: $option-color;
    flex: 1;
  }
  .value {
    color: $credit-title;
    flex: 1;
    letter-spacing: .1px;
  }
}

.sticky {
  position: sticky;
  top: 41px;
}

.toggle-content {
  display: none;
  @include respond(960px) {
    padding: 32px 35px 10px 35px;
  }
  @include respond(0, 960px) {
    padding: 32px 20px 10px 20px;
  }
  .title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.278;
  }
}

.toggle {
  background: $toggle-color;
  cursor: pointer;
  width: 100%;
  text-align: left;

  @include respond($mobile-width) {
    .circle {
      width: 38px;
      height: 38px;
    }
  }

  @include respond($mobile-width) {
    padding-right: 35px;
    padding-left: 35px;
    height: 90px;
  }
  @include respond(0, $mobile-width) {
    padding: 10px 20px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;

  .text {
    @include respond(0, $mobile-width) {
      display: none;
    }
  }

  .toggle-label {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    svg {
      fill: $white;

      @include respond($mobile-width) {
        margin-top: 2px;
      }
    }
  }
  .title {
    @include respond($mobile-width) {
      font-size: 32px;
    }
    @include respond(0, $mobile-width) {
      font-size: 24px;
    }
    color: $black;
    font-weight: bold;
    line-height: 1.344;
  }
}

.slider {
  position: relative;
}

.circle {
  margin-left: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $black;
}

.slider-controls {
  display: flex;
  margin-bottom: 45px;

  @include respond(1140px) {
    align-items: center;
    justify-content: space-between;
  }
  @include respond(0, 1140px) {
    flex-direction: column;

    .controls {
      margin-top: 20px;
    }
  }

  .controls {
    display: flex;
  }
}

.swiper-button-prev {
  margin-right: 25px;
  svg {
    transform: rotate(180deg);
  }
}

.swiper-button-prev,
.swiper-button-next {
  &:hover {
    background: $black;
  }
  transition: background 200ms linear;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparentize($black, .5);
  outline: none;

  svg {
    width: 24px;
    height: 24px;
    fill: $white;
  }
}

.equipment-wrapper {

  @include respond($mobile-width) {
    margin-bottom: 60px;
  }
  @include respond(0, $mobile-width) {
    margin-bottom: 30px;
  }

  .table {
    margin-top: 29px;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    &:not(:last-child) {
      border-bottom: 1px solid $filter-border;
      margin-bottom: 30px;
      padding-bottom: 12px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .value:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 5px;
        height: 5px;
        display: block;
        border-radius: 50%;
        background: $navy;
      }
      .value {
        @include respond(940px) {
          width: 50%;
        }
        @include respond(0, 940px) {
          width: 100%;
        }
        padding-left: 24px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 30px;
      }
    }
  }
  
}

.subtitle {
  font-size: 18px;
  color: $black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.278;

  @include respond(960px) {
    margin: 30px 0;
  }
  @include respond(0, 960px) {
    margin: 24px 0;
  }
}

.forms-wrapper {
  @include respond($mobile-width) {
    margin-bottom: 100px;
  }
  @include respond(0, $mobile-width) {
    margin-bottom: 50px;
  }

  .filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 35px);
    line-height: 1.8;
  }
}

[type="file"] {
  text-indent: -999999px;
  background: #f4f4f6;
  cursor: pointer;
}

.toggle-wrapper {
  border: 1px solid $filter-border;
  &.opened {
    .toggle-content {
      display: block;
    }
    .circle {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.form-tabs {
  display: flex;
  justify-content: space-between;
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
    flex: 1;
    background: $toggle-color;
    height: 50px;
    color: transparentize($black, .5);
    text-decoration: none;
    font-weight: bold;
    max-width: calc(50% - 15px);
    &.active {
      color: $white;
      background: $black;
    }
  }
}

.swiper-container {
  opacity: 0;
}

.swiper-container-initialized {
  opacity: 1;
}

.car-slider {
  background: $toggle-color;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;

  .swiper-container {
    padding-bottom: 135px;
    margin-bottom: -100px;
  }

  .title {
    @include respond($mobile-width) {
      font-size: 40px;
    }
    @include respond(0, $mobile-width) {
      font-size: 24px;
    }
    text-transform: uppercase;
    line-height: 1.075;
    font-weight: 500;
  }
}

body.callback-opened {
  overflow: hidden;
  .overlay {
    display: flex;
  }
}

.overlay {
  background: transparentize($black, .5);
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  padding: 20px;
  display: none;

  .title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 28px;
  }

  .top-block {

    svg {
      display: block;
    }
  }

  .close-form_button {
    position: absolute;
    right: 21px;
    top: 21px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .callback-form {
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    background: $white;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.file-wrapper {
  position: relative;
  cursor: pointer;

  svg {
    fill: transparentize($black, .6);
  }
}

.page {
  > .column {
    @include respond(960px) {
      margin-bottom: 30px;
    }
    @include respond(0, 960px) {
      margin-bottom: 15px;
    }
  }
  .column {
    @include respond(960px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .column-2 {
    .form-field {
      @include respond(0, 960px) {
        max-width: 100%;
        width: 100%;
      }
      @include respond(960px) {
        max-width: calc(50% - 15px);
      }
    }
  }
  .column-4 {
    justify-content: space-between;
    width: 100%;

    > .form-field {
      @include respond(1380px) {
        max-width: calc(50% - 15px);
      }
      &:first-child {
        @include respond(960px, 1380px) {
          margin-bottom: 30px;
        }
        @include respond(0, 960px) {
          margin-bottom: 15px;
        }
      }
    }

    @include respond(0, 1380px) {
      display: block;
    }
    @include respond(1380px) {
      display: flex;
    }
  }

  .attached {
    svg {
      fill: transparentize($black, .7);
    }
  }

  svg {
    display: block;
  }

  .file-block {
    position: relative;
    width: 100%;
  }

  .file-wrapper {
    &:not(.filled) {
      .filename {
        color: transparentize($black, .35);
      }
      & + .attached {
        display: none;
      }
      .unattached {
        display: block;
      }
    }
    &.filled {
      color: $black;
      & + .attached {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
      }
      .unattached {
        display: none;
      }
    }
  }

  .attached {
    cursor: pointer;
    &:hover {
      svg {
        fill: $black;
      }
    }
  }

  .file-span {
    cursor: pointer;
    pointer-events: none;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    position: absolute;
    left: 18px;
    top: 12px;
    right: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.input-row {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 8px;
  }
}

form {
  textarea {
    padding: 15px;
  }
  input {
    padding: 0 15px;
  }
  input,
  textarea {
    &:focus {
      border: 1px solid $navy;
    }
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    &::placeholder {
      font-size: 14px;
      color: transparentize($dark, .35);
      font-family: Verdana, sans-serif;
    }

    font-family: Verdana, sans-serif;
    font-size: 14px;
    height: 50px;
    border: 1px solid $input-border;
    outline: none;
  }
  .form-field {

    @include respond(960px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }

    @include respond(0, 960px) {
      margin-bottom: 15px;
    }
    > label:first-child {
      margin-bottom: 10px;
    }
  }
  label:not(.checkbox) {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
    width: 100%;
  }
}

.checkboxes {
  @include respond(0, 800px) {
    margin-bottom: 30px;
  }
  .checkbox-policy {
    @include respond(800px) {
      margin-right: 38px;
    }
  }
  @include respond(0, 1490px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .checkbox-policy {
      margin-bottom: 22px;
    }
  }
}